.ng-valid[required], .ng-valid.required,.ng -untouched.required  {
    border-left: 10px solid  green 
  }
  
  .ng-invalid:not(form)  {
    border-left: 10px solid red
  }

  
.help-block{
    color: red;
}